@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
}


$bp-largest: 75.93em; // 1215px
$bp-large:62.5em; // 1000px
$bp-medium: 50.93em; // 814px
$bp-small: 40.6em; // 650px


:root {
--cyan: hsl(180, 66%, 49%);
--dark-violet: hsl(257, 27%, 26%);
--red: hsl(0, 87%, 67%);
--gray: hsl(0, 0%, 75%);
--grayish-violet: hsl(257, 7%, 63%);
--backgroun-main: #eff1f7;
--very-dark-blue: hsl(255, 11%, 22%);
--very-dark-violet: hsl(260, 8%, 14%);
}


html {
  box-sizing: border-box;
  font-size: 62.5%;
}


body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.container {
  width: 112rem;
  max-width: 112rem;
  margin: 0 auto;
}

.navbar {
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 4rem;
  &__menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    gap: 3rem;
    & li {
      & a {
        text-decoration: none;
        font-size: 1.5rem;
        color: var(--grayish-violet);
        font-weight: 700;
      }
    }
    &--login {
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: 2rem;
    }
  }
}


.hero {
  display: grid;
  grid-template-columns: 55% 1fr;
  margin-top: 5rem;
  &__msj {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4rem;
    & h1 {
      font-size: 6.2rem;
      line-height: 1;
      & span {
        display: block;
      }
    }
    & p {
      font-size: 1.6rem;
      padding-right: 17rem;
      color: var(--grayish-violet);
    }
  }
  &__img {
    width: 73.3rem;
    height: 48.7rem;
    background-image: url('../assets/images/illustration-working.svg');
    background-repeat: no-repeat;
  }
}



.url {
  background-color: var(--backgroun-main);
  margin-top: 10rem;
  &__submit {
    padding: 4rem;
    background-image: url('../assets/images/bg-shorten-desktop.svg');
    display: flex;
    align-items: center;
    gap: 4rem;
    background-color: var(--dark-violet);
    border-radius: 1rem;
    width: 90%;
    max-width: 109rem;
    margin: 0 auto;
    position: relative;
    transform: translateY(-50%);
    &--inp {
      display: flex;
      flex: 1;
      position: relative;
      & input {
        flex: 1;
        padding: 1rem 2rem;
        border-radius: 1rem;
        font-size: 1.6rem;
        outline: 1px solid transparent;
        outline: none;
      }
      & input:focus {
        outline: 1px solid var(--gray);

      }
      & p {
        position: absolute;
        bottom: -2.5rem;
        color: var(--red);
        font-size: 1.4rem;
        font-style: italic;
      }
    }
  }
  &__list {
    width: 90%;
    max-width: 109rem;
    margin: -3rem auto 2rem; 
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
    &--ele {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 3rem;
      background-color: #fff;
      border-radius: 1rem;
      &__url {
        & p {
          font-size: 1.6rem;
          color: var(--dark-violet);
        }
      }
      &__newUrl {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        & p {
          font-size: 1.6rem;
          color: var(--gray);
        }
      }
    }
  }
}
.statics {
  background-color: var(--backgroun-main);
  margin-top: -2rem;
  padding: 10rem;
  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 7rem;
    & h2 {
      font-size: 3.5rem;
      color: var(--dark-violet);
    }
    & p {
      font-size: 1.6rem;
      text-align: center;
      color: var(--grayish-violet);
      & span {
        display: block;
      }
    }
  }
  &__graphics {
    display: flex;
    gap: 2rem;
    height: 38rem;
    align-items: center;
    position: relative;
    .izq {
      align-self: baseline;
    }
    .der {
      align-self: flex-end;
    }
    &--ele {
      border-radius: 1rem;
      width: 35rem;
      height: 26.7rem;
      background-color: #fff;
      position: relative;
      padding: 0 2rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      justify-content: center;
      z-index: 20;
      .ele__icon {
        position: relative;
        width: 8rem;
        height: 8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: var(--dark-violet);
        position: absolute;
        transform: translateY(-50%);
        top: 0;
        & img {
          display: block;
        }
      }
      .ele__text {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 4rem;
        & h3 {
          font-size: 2rem;
          color: var(--dark-violet);
        }
        & p {
          font-size: 1.6rem;
          color: var(--grayish-violet);
          line-height: 2;
        }
      }

    }
  }
  &__graphics::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 100%;
    background-color: var(--grayish-violet);
    height: 1.5rem;
    z-index: 1; 
  }
}

.boost {
  background-color: var(--very-dark-blue);
  padding: 6rem;
  background-image: url('../assets/images/bg-boost-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  & h3 {
    font-size: 4rem;
    color: #fff;
  }
}



.footer {
  background-color: var(--very-dark-violet);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 4rem;
  &__logo {
    filter: invert(1);
  }
  &__opts {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 5rem;
    &--opt {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      & h4 {
        font-size: 1.6rem;
        color: #fff;
        margin-bottom: 1.5rem;
      }
      & a:link, 
      & a:visited {
        text-decoration: none;
        font-size: 1.6rem;
        color: var(--cyan);
      }
    }
  }
  &__social {
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 2rem;
  }
}



.btn {
  background-color: var(--grayish-violet);
  padding: 1rem 2.2rem;
  color: white !important;
  border-radius: 1.8rem;
  border: none;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
} 
.btn:hover {
  background-color: var(--cyan) !important;
}

.linkbtn {
  border-radius: 1rem !important;
}

.hidden {
  display: none;
}

.error {
  outline: 1px solid var(--red) !important;
}

.selected {
  background-color: var(--dark-violet) !important;
}